body.listView {
    .navbar {
        left: -250px;
    }

    .content {
        padding-left: 20px;
    }

    .btn.logout {
        left: -250px;
    }

    .admin-panel {
        opacity: 0;
    }

    .description-text.edit {
        display: none;
    }

    .description-edit {
        display: none;
    }

    .description-text {
        display: inline-block !important;

        &.edit {
            opacity: 0;
        }
    }

    .patientlist .patient a{
        .delete, .alert-icon {
            opacity: 0;
        }
    }
}