<template name="patientlist">
    <h2>
        {{ institution_info.name }}
        {{#if isAdmin}}
        <span class="btn btn-dark viewmode"><span class="fa fa-expand"></span> Switch to listview</span>
        {{else}}
            {{#if isLogged}}
                {{#if isFavorite}}
                    <span class="btn btn-favorite" data-action="remove"><span class="fa fa-times"></span> Remove from favorites</span>
                {{else}}
                    <span class="btn btn-blue btn-favorite" data-action="add"><span class="fa fa-heart"></span> Add to favorites</span>
                {{/if}}
            {{/if}}
        {{/if}}
    </h2>
    <p class="description">
    {{#if isAdmin}}
        <span class="description-text">{{#if institution_info.description}}{{institution_info.description}} <i class="description-text edit fa fa-pencil" data-action="edit"></i>{{/if}}</span>
        <span class="description-edit{{#if institution_info.description}} hidden{{/if}}">
            <textarea id="description" placeholder="Enter a description here">{{#if institution_info.description}}{{institution_info.description}}{{/if}}</textarea>
            <a class="no-link btn btn-blue" data-action="save-description">Save</a> <a class="no-link btn btn-danger" data-action="cancel-description">Cancel</a>
        </span>
    {{else}}
        {{#if institution_info.description}}{{institution_info.description}}{{/if}}
    {{/if}}
    </p>
    <ul class="patientlist {{#if isAdmin}}sortable{{/if}}">
        {{#each patients}}
            {{> patient}}
        {{/each}}
    </ul>

    {{#if isAdmin}}
    <div class="admin-panel">
        <input type="text" name="addPatient" class="addPatient" value="" />
        <a href="#" class="no-link btn btn-dark add">Add</a>
        <a href="#" class="no-link btn btn-danger delete">Delete</a>
        <a href="#" class="no-link btn btn-dark empty">Empty</a>
    </div>
    {{/if}}
</template>

<template name="patient">
    <li class="patient {{active}}" data-id="{{_id}}">
        <div class="arrows">
            <div class="sprite arrow-up"></div>
            <div class="sprite arrow-down"></div>
        </div>
        <a href="#" class="no-link">
            <span class="position">{{position}}.</span>
            <span class="name">{{name}}</span>
            <span class="delete">X</span>
			<span class="alert-icon"><img src="/alert.png" alt="+" /></span>
        </a>
    </li>
</template>