<template name="patientlist">
    {{#if institution_info.name }}
    <h2>
        {{ institution_info.name }}
        {{#if isAdmin}}
        <span class="btn btn-dark viewmode"><span class="fa fa-expand"></span> Switch to listview</span>
        {{else}}
            {{#if isLogged}}
                {{#if isFavorite}}
                    <span class="btn btn-favorite" data-action="remove"><span class="fa fa-times"></span> Remove from favorites</span>
                {{else}}
                    <span class="btn btn-blue btn-favorite" data-action="add"><span class="fa fa-heart"></span> Add to favorites</span>
                {{/if}}
            {{/if}}
        {{/if}}
    </h2>
    {{#if isAdmin}}
        <p class="discret url">
            <span class="text">http://mydomain.com/{{institution_info.url}} <i class="text edit-icon fa fa-pencil" data-action="edit"></i></span>
            <span class="edit hidden">
                http://mydomain.com/<input id="url" name="url" value="{{institution_info.url}}" />
                <a class="no-link btn btn-blue" data-action="save-url">Save</a>
                <a class="no-link btn btn-danger" data-action="cancel-url">Cancel</a>
            </span>
        </p>
        <p class="description">
            <span class="text">{{#if institution_info.description}}{{institution_info.description}} <i class="text edit-icon fa fa-pencil" data-action="edit"></i>{{/if}}</span>
            <span class="edit{{#if institution_info.description}} hidden{{/if}}">
                <textarea id="description" placeholder="Enter a description here">{{#if institution_info.description}}{{institution_info.description}}{{/if}}</textarea>
                <a class="no-link btn btn-blue" data-action="save-description">Save</a> <a class="no-link btn btn-danger" data-action="cancel-description">Cancel</a>
            </span>
        </p>
    {{else}}
        <p class="description">{{#if institution_info.description}}{{institution_info.description}}{{/if}}</p>
    {{/if}}
    <ul class="patientlist {{#if isAdmin}}sortable{{/if}}">
        {{#each patients}}
            {{> patient}}
        {{/each}}
    </ul>

    {{#if isAdmin}}
    <!-- TODO: Subtil admin panel (open when mouse cursor is bottom of screen) -->
    <div class="admin-panel">
        <input type="text" name="addPatient" class="text-add-patient" placeholder="Name / ID" value="" />&nbsp;
        <input type="text" name="position" class="txt-position" placeholder="Position" value="" />
        <input type="text" name="priority" class="txt-priority" placeholder="Priority" value="" />
        <a href="#" class="no-link btn btn-dark add" data-action="add">Add</a>
        <a href="#" class="no-link btn btn-danger" data-action="delete">Delete</a>
        <a href="#" class="no-link btn btn-blue" data-action="repair">Repair</a>
        <a href="#" class="no-link btn btn-dark" data-action="empty">Empty</a>
    </div>
    {{/if}}
    {{/if}}
</template>

<template name="patient">
    <li class="patient {{active}}" data-id="{{_id}}" data-position="{{position}}">
        <div class="arrows">
            <a href="#" class="no-link arrow-up"><i class="fa fa-arrow-up"></i></a>
            <a href="#" class="no-link arrow-down"><i class="fa fa-arrow-down"></i></a>
        </div>
        <a href="#" class="no-link">
            <span class="name">{{position}}. {{name}}</span>
            <span class="delete"><i class="fa fa-minus-circle"></i></span>
			<span class="alert-icon"><i class="fa fa-envelope-o"></i></span>
        </a>
    </li>
</template>