<template name="profil">
    {{#if currentUser}}
        <h2>Profil</h2>
        <form class="form-signin clearfix">
            <input type="text" name="email" placeholder="email" class="input-block-level input-email" value="{{currentUser.profile.email}}"><br />
            <input type="text" name="phone" placeholder="Phone number" class="input-block-level input-email" value=""><br />
            <label for="alert_email">Send me notifications about my subscribed events via email<input type="checkbox" name="alert_email" id="alert_email"></label>
            <label for="alert_phone">Send me notifications about my subscribed events via text message<input type="checkbox" name="alert_phone" id="alert_phone"></label>
            <button class="no-link btn btn-large btn-blue" type="submit">Save</button>
        </form>
        <h3>Subscribed events</h3>
        <ul>
            {{#each alerts}}
                <li class="alert" data-id="{{_id}}"><a href="#">{{patientId}} : {{position}}</a></li>
            {{/each}}
        </ul>
    {{/if}}
</template>
