<template name="profil">
    {{#if currentUser}}
        <h2>Profil</h2>
        <form class="form-signin clearfix">
            <input type="text" name="name" placeholder="name" class="input-block-level input-name" value="{{currentUser.profile.name}}"><br />
            <input type="text" name="email" placeholder="email" class="input-block-level input-email" value="{{currentUser.profile.email}}"><br />
            <label for="alert_email">Send me notifications about my subscribed events via email<input type="checkbox" name="alert_email" id="alert_email"></label>
            <button class="no-link btn btn-large btn-blue" type="submit">Save</button>
        </form>
        <h3>Subscribed events</h3>
        <ul>
            {{#each alerts}}
                <li class="alert" data-id="{{_id}}"><a href="#">{{patientName}} : {{position}} (isSent -> {{isSent}})</a></li>
            {{/each}}
        </ul>
    {{/if}}
</template>
